[submodule "draggable_list"]
	path = draggable_list
	url = git@github.com:martian17/draggable_list.git
[submodule "htmlgen"]
	path = htmlgen
	url = git@github.com:martian17/htmlgen.git
[submodule "transition.js"]
	path = transition.js
	url = git@github.com:martian17/transition.js.git
